.container-sm{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    background-color: #ddd;
}
.inputs-area{
    display: flex;
    align-items: center;
    width: 100%;
}
.number{
    border: 1px solid #ccc;
    width: 50px;
    display: flex;
    justify-content: center;
}
.input, .input2, .input3, .input4, .input5{
    width: 100%;
}
#numero,#numero2,#numero3, #numero4, #numero5{
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    height: 34px;
}
@media(max-width:280px){
    .container-sm, .row{
        text-align: center;
    }
}
